body {
    text-align: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4em;
    text-decoration: underline;
}

p {
    font-size: 1.7em;
}

input {
    font-size: 1.3em;
    border-radius: 4px;
}

button {
    font-size: 1.3em;
    border-radius: 10px;
    background-color: aquamarine;
}